@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

p {
    font-family: 'metropolis', sans-serif;
    letter-spacing: 5px;
}

.banners {
    float: left;
    width: 350px;
    height: 500px;
    object-fit: cover;
}

body {
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.navbar-nav .nav-item:hover .nav-link {
    color: orange;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}


/**THE SAME CSS IS USED IN ALL 3 DEMOS**/    
/**gallery margins**/  
ul.gallery{    
    margin-left: 3vw;     
    margin-right:3vw;  
    }    
    
    .zoom {      
    -webkit-transition: all 0.35s ease-in-out;    
    -moz-transition: all 0.35s ease-in-out;    
    transition: all 0.35s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
    }     
    
    .zoom:hover,  
    .zoom:active,   
    .zoom:focus {
    /**adjust scale to desired size, 
    add browser prefixes**/
    -ms-transform: scale(6.5);    
    -moz-transform: scale(6.5);  
    -webkit-transform: scale(6.5);  
    -o-transform: scale(6.5);  
    transform: scale(6.5);    
    position:relative;      
    z-index:100;  
    }
    
    /**To keep upscaled images visible on mobile, 
    increase left & right margins a bit**/  
    @media only screen and (max-width: 1000px) {   
    ul.gallery {      
    margin-left: 5vw;       
    margin-right: 5vw;
    }

    
    /**TIP: Easy escape for touch screens,
    give gallery's parent container a cursor: pointer.**/
    .DivName {cursor: pointer}
    }

/*

.navbar-nav .nav-item .nav-link {
    color: red;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}

*/